@font-face {
  font-family: 'Verdana';
  src: url('../fonts/verdana/Verdana-Bold.woff2') format('woff2'),
  url('../fonts/verdana/Verdana-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Verdana';
  src: url('../fonts/verdana/Verdana.woff2') format('woff2'),
  url('../fonts/verdana/Verdana.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}