//fonts
$verdana: Verdana, Arial, sans-serif;

//main-color
$black: #1f1f1f;
$white: #fff;

$brand-color: #012e57;
$dark: #4b4949;
$light: #ededed;

//media
$screen-lg-max: 1200px;
$screen-tablet: 1024px;
$screen-md-max: 992px;
$screen-sm-max: 768px;
$screen-xs-max: 544px;

//transition
$anim: .3s;